{% extends 'base.html' %}

{% block title %} About{% endblock title %}


{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<div class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Tech Blog</h1>
        <p class="lead">Here you'll find topics related to Technology.</p>
        <hr class="my-4">
        <p>"The more that you read, the more things you will know. The more that you learn, the more places you’ll go," - Dr. Seuss</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
    </div>
</div>

{% endblock body %}